@charset "UTF-8";

body{
	background-color:#F5F5F5;
}
#wrap{
	margin:auto;
}

header{
	background-color:white;
	border-color:#000000;
	border-bottom-width:5px;
}
.content>.join-bigBox{
	width:500px;
	height:600px;
	background-color:white;
	border:1px;
	border-radius:10px/10px;
	
	
}
.content>.join-box{
	width:400px;
}
.login-bigbox{
	width:350px;
	
	background-color:white;
	border-style:solid;
	border-color:#c0c0c0;
	border-width:1px;
	/* border-radius:10px/10px; */
	margin:auto;
	
}
.timeline-bar{
	background-color:#FFFFFF;
}
