@charset "UTF-8";

body{
	background-color:#F5F5F5;
}
#wrap{
	margin:auto;
}
/* header */
header{
	background-color:white;
	border-color:#000000;
	border-bottom-width:5px;
}
.logo{
	width:150px;
	
	background-color:#D8D8D8;
}
.search{
	width:450px;
	background-color:#c0c0c0;
}
.nav{
	width:300px;
	background-color:#c0c0c0;
}
/* signup */
.content>.join-bigBox{
	width:500px;
	height:600px;
	background-color:white;
	border:1px;
	border-radius:10px/10px;
}
.content>.join-box{
	width:400px;
}
/* signin */
.login-bigbox{
	width:350px;
	
	background-color:white;
	border-style:solid;
	border-color:#D8D8D8;
	border-width:1px;
	/* border-radius:10px/10px; */
	margin:auto;
	
}
/* timeline */
.timeline-bar{
	background-color:#FFFFFF;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#D8D8D8;
}
.nav{
	font-size:18px;
}
.upload-box{
	background-color:white;
	width:500px;
}
.textarea{
	border:none;
	resize:none;
}
.textarea:focus{
	outline:none;
}
.post-header{
	width:499px;
	height:55px;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#D8D8D8;
}
.item-box{
	width:499px;
	height:38px;
	
}
.comment-box{
	border-top-style:solid;
	border-width:1px;
	border-color:#D8D8D8;
}
.commentInput-box{
	
	height:40px;
	
}
.post-box{
	background-color:#FFFFFF;
	border-style:solid;
	border-width:1px;
	border-color:#D8D8D8;
	width:500px;
	
}
.img-icon{
	font-size:25px;
	
}
